@font-face {
  font-family: 'ProximaNova Black';
  src:
    url(blackfont.woff2) format('woff2'),
    url(blackfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Bold';
  src:
    url(bold.woff2) format('woff2'),
    url(bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Regular';
  src:
    url(regular.woff2) format('woff2'),
    url(regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova SemiBold';
  src:
    url(semibold.woff2) format('woff2'),
    url(semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Thin';
  src:
    url(thin.woff2) format('woff2'),
    url(thin.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
