@font-face {
  font-family: 'PTSerif Regular';
  src:
    url(PT_Serif-Regular.woff2) format('woff2'),
    url(PT_Serif-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif Bold';
  src:
    url(PT_Serif-Bold.woff2) format('woff2'),
    url(PT_Serif-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
