.about {
  background-color: var(--color-black);
}

.page-about {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed;
}

.page-about__overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.about-animated__text {
  width: 100%;
  height: 90%;
  color: white;
  font-size: 6rem;
  text-align: center;
  font-family: 'Roboto Light';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stuff-about-me {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.animation-about {
  /* width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed; */
  z-index: -1;
  animation-name: MOVE-BG;
  animation-duration: .6s;
  animation-timing-function:  ease-in-out;
  animation-fill-mode: forwards;

}

@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-29vw);
	}
}
