.about {
  background-color: var(--color-black);
}

.page-about {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: right bottom;
  background-attachment: fixed;
}

.about-animated__text {
  position: relative;
  width: 100vw;
  height: 85vh;
  color: white;
  font-size: 6rem;
  text-align: center;
  font-family: 'Roboto Light';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stuff-about-me {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.animation-about {
  /* width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed; */
  animation-name: MOVE-BG;
  animation-duration: .6s;
  animation-timing-function:  ease-in-out;
  animation-fill-mode: forwards;

}

.bold-colored {
  color: var(--color-blue);
}

.page-about__overlay {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  flex-direction: column;
  align-self: flex-end;
  top: 0;
  color: white;
  font-size: 4rem;
}

.about-header__text {
  padding: 15%;
  line-height: 150%;
}

@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-29vw);
	}
}
