.name {
  font-family: 'PlayfairDisplay Regular';
  font-size: 2rem;
  color: var(--color-white);
  position: fixed;
  width: 100vw;
  text-align: center;
  padding: 2rem;
  z-index: 9999;
}


.page-controls {
  width: 100vw;
  height: 100vw;
}

.page-controls__work___p {
  position: absolute;
  font-size: 1.3rem;
  font-family: 'Roboto Regular';
  color: white;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  visibility: hidden;
}
