.page-home {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed;
}

.page-home__title {
  font-family: 'PlayfairDisplay Regular';
  color: var(--color-white);
  text-align: left;
  font-size: 3.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  text-transform: uppercase;
  line-height: 110%;
}

.page-home__subtitle {
  font-size: 2rem;
  color: var(--color-gray);
  font-family: 'Roboto Light';
}

.status {
  font-size: 4rem;
}

.anim {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.page-controls {
  color: var(--color-white);
  font-family: 'Roboto Light';
  text-transform: uppercase;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 100;
}

.page-controls__work {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.page-controls__work div {
  height: 2rem;
  border-right: .1rem solid var(--color-white);
}

.page-controls__work p {
  padding: 1rem;
  z-index: 70;
}

.page-controls__about {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.page-controls__about div {
  width: 2rem;
  border-bottom: .1rem solid var(--color-white);
}

.page-controls__about p {
  padding: 1rem;
  z-index: 70;
}

.page-controls__empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-controls__work_text a {
  padding: 2rem;
}

.particles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
