.page-home {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed;
}

.page-home__title {
  font-family: 'PlayfairDisplay Regular';
  color: var(--color-white);
  text-align: left;
  font-size: 2.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  text-transform: uppercase;
  line-height: 110%;
}

.page-home__subtitle {
  font-size: 1.5rem;
  color: var(--color-gray);
  font-family: 'Roboto Light';
}

.status {
  font-size: 4rem;
}

.anim {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
}
