.page-work {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-frame {
  position: absolute;
  width: 86vw;
  height: 82vh;
  border: .1rem solid rgba(220,220,220, .6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-frame__button {
  background-color: white;
  width: 18rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  margin-bottom: -5.6rem;
}

..work-frame__button:hover {
  background-color: black;
}

.work-frame__button-p {
  width: 16rem;
  height: 5rem;
  border: .1rem solid rgba(220,220,220);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PlayfairDisplay Regular';
  font-size: 1.8rem;
  z-index: 999;
}

.work-frame__button:hover {
  color: fff;
  border-style: solid;
  border-color: black;
}

.work-frame__indicator {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: .1rem solid rgba(220,220,220, .6);
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  left: -2vw;
  margin-top: -36vh;
}

.work-frame__indicator-p {
  width: 100%;
  height: 70%;
  font-size: 2.6rem;
  font-family: 'PlayfairDisplay Bold';
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  margin-top: -.3rem;
  margin-left: -.3rem;
}


.slash {
  font-size: 3rem;
  align-self: center;
}

.total {
  align-self: flex-end;
}

.page-work__content {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-title__frame {
    width: 15rem;
    position: relative;
    padding-bottom: 2rem;
}

.content-title {
  font-family: 'PlayfairDisplay Black';
  font-size: 9rem;
  color: var(--color-black-alt);
  margin-left: 4rem;
  text-transform: capitalize;
}

.content-summary {
  position: relative;
  width: 50rem;
  margin-top: 15rem;
}

.content_header {
  display: flex;
  justify-content: space-between;
}

.content-summary__text {
  font-family: 'Roboto Light';
  font-size: 2.2rem;
  color: var(--color-gray);
  line-height: 160%;
  z-index: 3;
}

.content-summary__image  {
  width: 100%;
}

.content-summary__image img {
  width: 40vw;
  margin-top: 5rem;
}

.page-work__back {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-family: 'PTSerif Bold';
  color: var(--color-black-alt);
  top: 5rem;
  width: 20rem;
}

.page-work__back_arrow {
  width: 5rem;
  height: auto;
}

.content-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30vw;
  margin: 0 auto;
  align-items: center;
  padding-top: 6rem;
  padding-right: 6rem;
  align-self: center;
  top: 100px;
  height: 40%;
}

.drawline svg {
  width: 15rem !important;
  height: 3rem !important;
}

.content-info__body {
  font-size: 1.4rem;
  font-family: 'Roboto Thin';
  text-align: center;
}

.content-info__title {
  font-size: 2rem;
  font-family: 'PlayfairDisplay Bold';
  text-align: center;
  padding: 1rem;
}

.project-information {
  width: 100vw;
  height: auto;
}

.project-information__target {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.target-title {
  width: 25vw;
}

.target-title__header {
  font-size: 4rem;
  font-family:'PTSerif Bold';
}

.target-title__skills {
  font-size: 2rem;
  font-family: 'Roboto Regular';
  text-transform: uppercase;
  padding-top: 1.4rem;
}

.target-info {
  font-size: 2rem;
  font-family: 'Roboto Light';
  width: 40vw;
  line-height: 125%;
}

.target-info div {
  border-top: .1rem solid var(--color-gray);
  width: 30%;
  padding-bottom: 5rem;
  opacity: .4;
}

.target-info p {
  padding-bottom: 2rem;
}

.project-fonts__big {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.project-fonts__example {
  padding-top: 5rem;
  width: 55vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.project-fonts__big article {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-fonts {
  width: 100%;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 5rem 0;
}

.project-fonts__name {
  font-size: 2rem;
  padding: 1rem;
}

.ProximaNovahead {
  text-transform: capitalize;
  font-family: 'ProximaNova Bold';
  font-size: 3.6rem;
  padding-bottom: 1rem;
}

.ProximaNovabody {
  font-family: 'ProximaNova Regular';
  font-size: 2rem;
  line-height: 120%;
}

.project-next {
  background-color: var(--color-black);
  height: 30rem;
}

.project-next p {
  font-family: 'PlayfairDisplay Bold';
  font-size: 10rem;
  color: white;
  width: 100%;
  text-align: center;
  padding: 8rem 0;
  z-index: 99;
}

.project-next p:hover:after {
  transform: scaleX(1);
}

.animation-next {
  position: absolute;
  width: 100vw;
  height: 10rem;
  z-index: 1;
}

.animation-text {
  z-index: 99;
}

.circles-animation {
  width: 25rem;
  height: auto;
  margin-left: 50vw;
  margin-top: -50vh;
  z-index: 3;
  transform: none;
  display: run-in;
}

.content-summary__image-style {

}

.content-summary__image {
  align-self: flex-end;
}

.project-screens__container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10rem 0;
}

.project-screens__image {
  width: 54.86rem;
  height: 34.29rem;
  padding: 2rem;
}

.scroll-mouse__container {
  display: flex;
  justify-content: center;
  margin-top: -15rem;
}

.scroll-mouse {
  width: 2rem;
  margin: 0 auto;
}
