@import 'reset';
@import 'vars';
@import 'layout';
@import 'page-home';
@import 'page-work';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* overflow: visible; */
  cursor: none !important;
  font-smoothing: antialiased;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
}

.hide {
  visibility: hidden;
}

svg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 40;
}
