:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-alt: #3b3b3b;
  --color-blue: #3d72a4;
  --color-green-text: #84ab7b;
  --color-green: #bdd2b9;
  --color-pink: #e09e91;
  --color-yellow: #dbd47f;
  --color-gray: #929292;
}
